aptitude
assimp-utils
build-essential
clang
clang-tools
clang-tools-10
lib32gcc-s1
lib32stdc++6
libc6-i386
libc6
cmake
freeglut3
freeglut3-dev
g++
gcc-10
glew-utils
libassimp-dev
libc++-10-dev
libc++abi-10-dev
libglew-dev
libglfw3
libglfw3-dev
libglm-dev
libglu1-mesa-dev
libsoil-dev
libstdc++6
libxi-dev
libxmu-dev
mesa-common-dev
mesa-utils
xorg-dev
